#headline_jy {
    border-bottom: 1px solid #4374D9;
    text-align: left;
    background-color: #4374D9;
    position: sticky;

    z-index: 10000;
    top: 0;
}
#headline_jy a img {
    width: 60px;
    vertical-align: middle;
}

#headline_jy h3 {
    display: inline-block;
    position: absolute;
    top: 20%;
    margin: 0;
    margin-left: 15px;
    color: white;
    text-decoration: none;
    text-shadow: -1px -1px 0px #3162C7,
     3px 3px 0px #3162C7,
    6px 6px 0px #002C91;
}
