
body{
    background: #4374D9;
    font-family: 'Noto Sans KR', sans-serif;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

#container{
    /*box-sizing: border-box;*/
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    place-items: center;
    margin: 1rem;
}


.btn {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-size: 1.4rem;
    letter-spacing: 0;
    color: #000;
    border-radius: 1.2rem;
    padding: 1.7rem 2rem 1.8rem;
    transition: all 0.7s ease-out;
    
    background: #fff;
    background-position: 1% 50%;
    background-size: 300% 300%;
    box-shadow:inset 2px 2px 2px 0px rgba(211, 208, 208, 0.5),
    7px 7px 20px 0px rgba(128, 125, 125, 0.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    

    text-decoration: none;
    text-align: center;
    margin: 2rem 0.5rem;
    border: none;
    width: 10rem;
    height: 7rem;

    display:flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

  }
  
  .btn:hover {
    color: rgb(7, 7, 7);
    transform: translate(0, -10%);
    background-position: 99% 50%;
    box-shadow: 0px 11px 22px #31353f, 0px 7px 7px #22252c;
  }

  img{
    width: 50px;
  }
  